<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Filter Market</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
<!--        <h1>Filter Market</h1>-->
        <div class="maincontainer">
            <p class="subtitle">숨은 알레르기 성분을 한눈에, 필터마켓</p>
            <h3>&#127825; FILTER MARKET &#127807;</h3>
            <div class="mainsection">
                <label>&#128205; 사용자 기능</label>
                <a class="btn btn-lg btn-info" href="/members/new">회원 가입</a>
                <a class="btn btn-lg btn-info" href="/items">상품 목록</a>
                <a class="btn btn-lg btn-info" href="/order">상품 주문</a>
                <a class="btn btn-lg btn-info" href="/orders">주문 확인</a>
            </div>
            <div class="mainsection">
                <label>&#128205; 관리자 기능</label>
                <a class="btn btn-lg btn-dark" href="/members">회원 목록</a>
                <a class="btn btn-lg btn-dark" href="/items/new">상품 등록</a>

            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer" />

</div>
</body>
</html>